{% extends 'base.html' %}

{% block title %}Bài Viết{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {

        /**
         * Validate the form
         */
        // $('#formSignup').validate({
        //     rules: {
        //         name: 'required',
        //         email: {
        //             required: true,
        //             email: true,
        //             remote: '/account/validate-email'
        //         },
        //         password: {
        //             required: true,
        //             minlength: 6,
        //             validPassword: true
        //         }
        //     },
        //     messages: {
        //         email: {
        //             remote: 'email already taken'
        //         }
        //     }
        // });


        /**
         * Show password toggle button
         */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>

{% endblock %}
{% block body %}
<form method="post" action="http://localhost/baiviet/save-bai-viet">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-sm mb-2 mb-sm-0">


                    <h1 class="page-header-title">Thêm mới bài viết</h1>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card mb-8 mb-lg-0">
                    <!-- Header -->
                    <div class="card-header">
                        <h4 class="card-header-title">Thông tin bài viết</h4>
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">
                        <!-- Thêm tiêu đề -->
                        <div class="form-group">
                            <label for="tieu_de" class="input-label">Tiêu đề <i class="tio-help-outlined text-body ml-1"
                                                                                data-toggle="tooltip"
                                                                                data-placement="top"></i></label>

                            <input type="text" class="form-control" name="tieu_de" id="tieu_de"
                                   placeholder="Nhập tiêu đề bài viết ...." aria-label="Shirt, t-shirts, etc.">
                        </div>
                        <!--  -->

                        <!-- Thêm tên tác giả-->
                        <div class="form-group">
                            <label for="tac_gia" class="input-label">Tác giả<i class="tio-help-outlined text-body ml-1"
                                                                               data-toggle="tooltip"
                                                                               data-placement="top"></i></label>

                            <input type="text" class="form-control" name="tac_gia" id="tac_gia"
                                   placeholder="Nhập tên tác giả" aria-label="Shirt, t-shirts, etc.">
                        </div>
                        <div class="form-group">
                            <label for="anh" class="input-label">Ảnh<i class="tio-help-outlined text-body ml-1"
                                                                               data-toggle="tooltip"
                                                                               data-placement="top"></i></label>

                            <input type="text" class="form-control" name="anh" id="anh"
                                   placeholder="Dán link ảnh" aria-label="Shirt, t-shirts, etc.">
                        </div>

                        <div class="form-group">
                            <label for="ngay_tao" class="input-label">Ngày tạo <i
                                    class="tio-help-outlined text-body ml-1" data-toggle="tooltip"
                                    data-placement="top"></i></label>

                            <input type="date" class="form-control" name="ngay_tao" id="ngay_tao">
                        </div>
                        <!--  -->
                        <!-- Thêm chủ đề -->
                        <div class="row">
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label for="chu_de" class="input-label">Chủ đề<i
                                            class="tio-help-outlined text-body ml-1" data-toggle="tooltip"
                                            data-placement="top"></i></label>

                                    <select id="chu_de" name="chu_de" class="form-select form-select-lg mb-3"
                                            aria-label=".form-select-lg example" style="width:85%;height: 30px">
                                        <option value="" selected>Chọn chủ đề</option>
                                        <option value="Thời sự">Thời sự</option>
                                        <option value="Kinh doanh">Kinh doanh</option>
                                        <option value="Khoa học">Khoa học</option>
                                        <option value="Giải trí">Giải trí</option>
                                        <option value="Pháp luật">Pháp luật</option>
                                        <option value="Thể thao">Thể thao</option>
                                        <option value="Sức khoẻ">Sức khoẻ</option>

                                    </select>
                                </div>

                            </div>
                            <!-- Thêm tag -->
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label for="tag" class="input-label">Tag<i class="tio-help-outlined text-body ml-1"
                                                                               data-toggle="tooltip"
                                                                               data-placement="top"></i></label>

                                    <select id="tag" name="tag" class="form-select form-select-lg mb-3"
                                            aria-label=".form-select-lg example" style="width:85%;height: 30px">
                                        <option value="" selected>Chọn tag</option>
                                        <option value="Xu hướng">Xu hướng</option>
                                        <option value="Toàn cầu">Toàn cầu</option>
                                        <option value="Thời trang">Thời trang</option>
                                        <option value="Vbiz">Vbiz</option>
                                        <option value="Cbiz">Cbiz</option>
                                        <option value="Kpop">Kpop</option>


                                    </select>
                                </div>

                            </div>
                        </div>

                        <!-- Thêm nội dung phụ -->
                        <label class="input-label">Tóm tắt nội dung <span

                                    class="input-label-secondary">(Optional)</span></label>



                        <!--Noi dung phu -->
                        <div class="quill-custom">
                            <div class="ql-toolbar ql-snow"><span class="ql-formats"><span
                                    class="ql-header ql-picker"><span class="ql-picker-label" tabindex="0" role="button"
                                                                      aria-expanded="false"
                                                                      aria-controls="ql-picker-options-0"><svg
                                    viewBox="0 0 18 18"> <polygon class="ql-stroke"
                                                                  points="7 11 9 13 11 11 7 11"></polygon> <polygon
                                    class="ql-stroke" points="7 7 9 5 11 7 7 7"></polygon> </svg></span><span
                                    class="ql-picker-options" aria-hidden="true" tabindex="-1" id="select"><span
                                    tabindex="0" role="button" class="ql-picker-item" data-value="1"></span><span
                                    tabindex="0" role="button" class="ql-picker-item" data-value="2"></span><span
                                    tabindex="0" role="button" class="ql-picker-item" data-value="3"></span><span
                                    tabindex="0" role="button"
                                    class="ql-picker-item ql-selected"></span></span></span><select class="ql-header"
                                                                                                    style="display: none;"><option
                                    value="1"></option><option value="2"></option><option value="3"></option><option
                                    selected="selected"></option></select></span><span class="ql-formats"><button
                                    type="button" class="ql-bold"><svg viewBox="0 0 18 18"> <path class="ql-stroke"
                                                                                                  d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path> <path
                                    class="ql-stroke"
                                    d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z"></path> </svg></button><button
                                    type="button" class="ql-italic"><svg viewBox="0 0 18 18"> <line class="ql-stroke"
                                                                                                    x1="7" x2="13"
                                                                                                    y1="4"
                                                                                                    y2="4"></line> <line
                                    class="ql-stroke" x1="5" x2="11" y1="14" y2="14"></line> <line class="ql-stroke"
                                                                                                   x1="8" x2="10"
                                                                                                   y1="14"
                                                                                                   y2="4"></line> </svg></button><button
                                    type="button" class="ql-underline"><svg viewBox="0 0 18 18"> <path class="ql-stroke"
                                                                                                       d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3"></path> <rect
                                    class="ql-fill" height="1" rx="0.5" ry="0.5" width="12" x="3" y="15"></rect> </svg></button><button
                                    type="button" class="ql-link"><svg viewBox="0 0 18 18"> <line class="ql-stroke"
                                                                                                  x1="7" x2="11" y1="7"
                                                                                                  y2="11"></line> <path
                                    class="ql-even ql-stroke"
                                    d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z"></path> <path
                                    class="ql-even ql-stroke"
                                    d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z"></path> </svg></button></span><span
                                    class="ql-formats"><button type="button" class="ql-list" value="ordered"><svg
                                    viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line> <line
                                    class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line> <line class="ql-stroke"
                                                                                                 x1="7" x2="15" y1="14"
                                                                                                 y2="14"></line> <line
                                    class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line> <path
                                    class="ql-fill"
                                    d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z"></path> <path
                                    class="ql-stroke ql-thin"
                                    d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path> <path
                                    class="ql-stroke ql-thin"
                                    d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109"></path> </svg></button><button
                                    type="button" class="ql-list" value="bullet"><svg viewBox="0 0 18 18"> <line
                                    class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line> <line class="ql-stroke"
                                                                                                 x1="6" x2="15" y1="9"
                                                                                                 y2="9"></line> <line
                                    class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line> <line class="ql-stroke"
                                                                                                   x1="3" x2="3" y1="4"
                                                                                                   y2="4"></line> <line
                                    class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line> <line class="ql-stroke" x1="3"
                                                                                                x2="3" y1="14"
                                                                                                y2="14"></line> </svg></button></span><span
                                    class="ql-formats"><button type="button" class="ql-clean"><svg class=""
                                                                                                   viewBox="0 0 18 18"> <line
                                    class="ql-stroke" x1="5" x2="13" y1="3" y2="3"></line> <line class="ql-stroke"
                                                                                                 x1="6" x2="9.35"
                                                                                                 y1="12" y2="3"></line> <line
                                    class="ql-stroke" x1="11" x2="15" y1="11" y2="15"></line> <line class="ql-stroke"
                                                                                                    x1="15" x2="11"
                                                                                                    y1="11"
                                                                                                    y2="15"></line> <rect
                                    class="ql-fill" height="1" rx="0.5" ry="0.5" width="7" x="2"
                                    y="14"></rect> </svg></button></span></div>
                            <div class="js-quill ql-container ql-snow" style="min-height: 12rem;"
                                 data-hs-quill-options="{
                          &quot;placeholder&quot;: &quot; Nhập nội dung tóm tắt của bài viết ...&quot;
                         }">
                                <div class="ql-editor ql-blank" data-gramm="false" contenteditable="true"
                                     data-placeholder="Nhập nội dung tóm tắt của bài viết(tối đa 1000 ký tự)..."><p><br></p></div>
                                <div class="ql-clipboard" contenteditable="true" tabindex="-1"></div>
                                <div class="ql-tooltip ql-hidden"><a class="ql-preview" rel="noopener noreferrer"
                                                                     target="_blank" href="about:blank"></a><input
                                        type="text" name="noi_dung_phu" data-formula="e=mc^2" data-link="https://quilljs.com"
                                        data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div>
                            </div>
                        </div>
                        <!-- end noi dung phu -->
                    </div>
                    <!-- Body -->
                </div>
                <!-- End Card -->


                <!--Noi dung chinh -->
                <label class="ml-4 input-label">Nội dung chính bài viết <span

                        class="input-label-secondary">(Optional)</span></label>




                <div class="quill-custom" style="padding-bottom: 20%">
                    <div class="ql-toolbar ql-snow"><span class="ql-formats"><span
                            class="ql-header ql-picker"><span class="ql-picker-label" tabindex="0" role="button"
                                                              aria-expanded="false"
                                                              aria-controls="ql-picker-options-0"><svg
                            viewBox="0 0 18 18"> <polygon class="ql-stroke"
                                                          points="7 11 9 13 11 11 7 11"></polygon> <polygon
                            class="ql-stroke" points="7 7 9 5 11 7 7 7"></polygon> </svg></span><span
                            class="ql-picker-options" aria-hidden="true" tabindex="-1" id="selectx"><span
                            tabindex="0" role="button" class="ql-picker-item" data-value="1"></span><span
                            tabindex="0" role="button" class="ql-picker-item" data-value="2"></span><span
                            tabindex="0" role="button" class="ql-picker-item" data-value="3"></span><span
                            tabindex="0" role="button"
                            class="ql-picker-item ql-selected"></span></span></span><select class="ql-header"
                                                                                            style="display: none;"><option
                            value="1"></option><option value="2"></option><option value="3"></option><option
                            selected="selected"></option></select></span><span class="ql-formats"><button
                            type="button" class="ql-bold"><svg viewBox="0 0 18 18"> <path class="ql-stroke"
                                                                                          d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path> <path
                            class="ql-stroke"
                            d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z"></path> </svg></button><button
                            type="button" class="ql-italic"><svg viewBox="0 0 18 18"> <line class="ql-stroke"
                                                                                            x1="7" x2="13"
                                                                                            y1="4"
                                                                                            y2="4"></line> <line
                            class="ql-stroke" x1="5" x2="11" y1="14" y2="14"></line> <line class="ql-stroke"
                                                                                           x1="8" x2="10"
                                                                                           y1="14"
                                                                                           y2="4"></line> </svg></button><button
                            type="button" class="ql-underline"><svg viewBox="0 0 18 18"> <path class="ql-stroke"
                                                                                               d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3"></path> <rect
                            class="ql-fill" height="1" rx="0.5" ry="0.5" width="12" x="3" y="15"></rect> </svg></button><button
                            type="button" class="ql-link"><svg viewBox="0 0 18 18"> <line class="ql-stroke"
                                                                                          x1="7" x2="11" y1="7"
                                                                                          y2="11"></line> <path
                            class="ql-even ql-stroke"
                            d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z"></path> <path
                            class="ql-even ql-stroke"
                            d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z"></path> </svg></button></span><span
                            class="ql-formats"><button type="button" class="ql-list" value="ordered"><svg
                            viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line> <line
                            class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line> <line class="ql-stroke"
                                                                                         x1="7" x2="15" y1="14"
                                                                                         y2="14"></line> <line
                            class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line> <path
                            class="ql-fill"
                            d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z"></path> <path
                            class="ql-stroke ql-thin"
                            d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path> <path
                            class="ql-stroke ql-thin"
                            d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109"></path> </svg></button><button
                            type="button" class="ql-list" value="bullet"><svg viewBox="0 0 18 18"> <line
                            class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line> <line class="ql-stroke"
                                                                                         x1="6" x2="15" y1="9"
                                                                                         y2="9"></line> <line
                            class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line> <line class="ql-stroke"
                                                                                           x1="3" x2="3" y1="4"
                                                                                           y2="4"></line> <line
                            class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line> <line class="ql-stroke" x1="3"
                                                                                        x2="3" y1="14"
                                                                                        y2="14"></line> </svg></button></span><span
                            class="ql-formats"><button type="button" class="ql-clean"><svg class=""
                                                                                           viewBox="0 0 18 18"> <line
                            class="ql-stroke" x1="5" x2="13" y1="3" y2="3"></line> <line class="ql-stroke"
                                                                                         x1="6" x2="9.35"
                                                                                         y1="12" y2="3"></line> <line
                            class="ql-stroke" x1="11" x2="15" y1="11" y2="15"></line> <line class="ql-stroke"
                                                                                            x1="15" x2="11"
                                                                                            y1="11"
                                                                                            y2="15"></line> <rect
                            class="ql-fill" height="1" rx="0.5" ry="0.5" width="7" x="2"
                            y="14"></rect> </svg></button></span></div>
                    <div class="js-quill ql-container ql-snow" style="min-height: 15rem;"
                         data-hs-quill-options="{
                          &quot;placeholder&quot;: &quot; Nhập nội dung bài viết ...&quot;
                         }">
                        <div class="ql-editor ql-blank" data-gramm="false" contenteditable="true"
                             data-placeholder="Nhập nội dung bài viết..."><p><br></p></div>
                        <div class="ql-clipboard" contenteditable="true" tabindex="-1"></div>
                        <div class="ql-tooltip ql-hidden"><a class="ql-preview" rel="noopener noreferrer"
                                                             target="_blank" href="about:blank"></a><input
                                type="text" name="noi_dung_chinh" data-formula="e=mc^2" data-link="https://quilljs.com"
                                data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div>
                    </div>
                </div>
                <!-- end noi dung chinh -->
            </div>
                </div>
                <!-- End Card -->

        </div>
    <div class="position-fixed bottom-0 content-centered-x w-100 z-index-99 mb-3" style="max-width: 40rem;">
        <!-- Card -->
        <div class="card card-sm bg-dark border-dark mx-2">
            <div class="card-body">
                <div class="row justify-content-center justify-content-sm-between">

                    <div class="col-auto">

                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Card -->
    </div>
    </div>
    </div>

</form>
{% endblock %}