{% extends 'base_admin.html' %}

{% block title %}Bài Viết{% endblock %}

{% block body %}


<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">

        <div class="card">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
                        <form action="http://localhost/bai-viet/tim-kiem" method="get">
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-search"></i>
                                    </div>
                                </div>
                                <input id="datatableSearch" type="text" name="tieude" class="form-control"
                                       placeholder="Tìm kiếm bài viết" aria-label="Search users">
                            </div>
                            <!-- End Search -->
                        </form>
                    </div>


                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->

            <!-- Table -->
            <div class="table-responsive datatable-custom">

                <div id="datatable_wrapper" class="dataTables_wrapper no-footer">


                    <div id="datatable_filter" class="dataTables_filter"><label>Search:<input type="search" class=""
                                                                                              placeholder=""
                                                                                              aria-controls="datatable"></label>
                    </div>
                    <table id="datatable"
                           class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer"
                           data-hs-datatables-options="{
                     &quot;columnDefs&quot;: [{
                        &quot;targets&quot;: [0, 7],
                        &quot;orderable&quot;: false
                      }],
                     &quot;order&quot;: [],
                     &quot;info&quot;: {
                       &quot;totalQty&quot;: &quot;#datatableWithPaginationInfoTotalQty&quot;
                     },
                     &quot;search&quot;: &quot;#datatableSearch&quot;,
                     &quot;entries&quot;: &quot;#datatableEntries&quot;,
                     &quot;pageLength&quot;: 15,
                     &quot;isResponsive&quot;: false,
                     &quot;isShowPaging&quot;: false,
                     &quot;pagination&quot;: &quot;datatablePagination&quot;
                   }" role="grid" aria-describedby="datatable_info">
                        <thead class="thead-light">
                        <tr role="row">
                            <th class="table-column-pr-0 sorting_disabled" rowspan="1" colspan="1" aria-label="




                        " style="width: 24px;">
                                <div class="custom-control custom-checkbox">
                                    <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" for="datatableCheckAll"></label>
                                </div>
                            </th>
                            <th class="table-column-pl-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1" aria-label="
                            STT
                        : activate to sort column ascending" style="width: 52.3125px;">
                                STT
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="Ảnh
                        : activate to sort column ascending" style="width: 98.922px;">Ảnh
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="Tên bài
                            viết
                        : activate to sort column ascending" style="width: 591.562px;">Tên bài
                                viết
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="Tác giả
                        : activate to sort column ascending" style="width: 97.359px;">Tác giả
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="
                            Lượt xem
                        : activate to sort column ascending" style="width: 103.016px;">
                                Lượt xem
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="Ngày tạo
                        : activate to sort column ascending" style="width: 159.094px;">Ngày tạo
                            </th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Hành động
                        " style="width: 156.734px;">Hành động
                            </th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for item in data %}


                        <tr role="row" class="odd">
                            <td class="table-column-pr-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="usersDataCheck1">
                                    <label class="custom-control-label" for="usersDataCheck1"></label>
                                </div>
                            </td>
                            <td class="table-column-pl-0">
                                1
                            </td>
                            <td>


                                <img src="{{ item.link_anh }}" alt="" style="width: 80px;height: 80px">

                            </td>

                            <td><a href="http://localhost/bai-viet/detail?id={{item.id}}">{{ item.tieu_de }}</a>
                            </td>

                            <td> {{ item.tac_gia }}
                            </td>
                            <td class="text-center">{{ item.luot_xem }}</td>
                            <td>{{ item.ngay_tao }}</td>
                            <td>
                                <a class="btn btn-sm btn-white" href="http://localhost/bai-viet/edit?id={{item.id}}">
                                    <i class="tio-edit"></i> Edit
                                </a>
                                <a class="btn btn-sm btn-white" href="http://localhost/bai-viet/delete?id={{item.id}}"
                                   onclick="return confirm('Bạn có chắc không?')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <!-- End Table -->

    </div>
    <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <div class="footer">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <p class="font-size-sm mb-0">
                    © Front.
                    <span class="d-none d-sm-inline-block">2020 Htmlstream.</span>
                </p>
            </div>
            <div class="col-auto">
                <div class="d-flex justify-content-end">
                    <!-- List Dot -->
                    <ul class="list-inline list-separator">
                        <li class="list-inline-item">
                            <a class="list-separator-link" href="#">FAQ</a>
                        </li>

                        <li class="list-inline-item">
                            <a class="list-separator-link" href="#">License</a>
                        </li>

                        <li class="list-inline-item">
                            <!-- Keyboard Shortcuts Toggle -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle"
                                   href="javascript:;" data-hs-unfold-options="{
                              &quot;target&quot;: &quot;#keyboardShortcutsSidebar&quot;,
                              &quot;type&quot;: &quot;css-animation&quot;,
                              &quot;animationIn&quot;: &quot;fadeInRight&quot;,
                              &quot;animationOut&quot;: &quot;fadeOutRight&quot;,
                              &quot;hasOverlay&quot;: true,
                              &quot;smartPositionOff&quot;: true
                             }" data-hs-unfold-target="#keyboardShortcutsSidebar" data-hs-unfold-invoker="">
                                    <i class="tio-command-key"></i>
                                </a>
                            </div>
                            <!-- End Keyboard Shortcuts Toggle -->
                        </li>
                    </ul>
                    <!-- End List Dot -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->
</main>


{% endblock %}