<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link
            rel="stylesheet"
            href="http://spec.edu.vn:3000/template_admin/front-dashboard/assets/css/vendor.min.css"
    />
    <link
            rel="stylesheet"
            href="http://spec.edu.vn:3000/template_admin/front-dashboard/assets/css/theme2.min.css"
    />
    <link
            rel="stylesheet"
            href="http://spec.edu.vn:3000/template_admin/front-dashboard/assets/vendor/icon-set/style.css"
    />
</head>
{% block body %}
{% endblock %}
</html>